.classpath
build/
bin/
.settings/
.gradle/
settings.gradle
my_first_module.js
gradlew.bat
gradlew
gradle/
test.html
test.js
client/.editorconfig
client/node_modules/
*.js
*.map
client/.idea/
client/.travis.yml
client/bs-config.e2e.json
client/bs-config.json
client/e2e/
client/non-essential-files.osx.txt
client/non-essential-files.txt
client/src/app/app.component.spec.ts
test-output/
